html, body {
  height: 100%;
  width: 100%;
  font-family: Arial; 

}

header{
  background-color: #D2DAFC;
}

.logo{
  align: left;
  height: 50%;
  width: 50%;
}

.navbar{
  background-color: #FFEEA9;
  font-family: Arial;
  color: #233aa8;
}

.main1{
  background-color: #FFEEA9;
  font-family: Arial;
  color: #233aa8;
}

.main2{
  background-color: white;
  font-family: Arial;
  color: #233aa8;
}

footer{
  background-color: #EEEEEE;
  font-family: Arial; 
  color: black;
}

@media only screen and (max-width: 768px) {
    .grid-container{
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar navbar navbar"
    "main1 main1 main1"
    "main2 main2 main2"
    "footer footer footer";
  grid-gap: 10px;
    }
}
